@model IEnumerable<Transactions>
@{
    ViewData["Title"] = "All Transactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body style=" background-color:lightgrey;">

    <h1 style="text-align:center; color:dodgerblue;">All Transactions</h1>
    <hr style="height:3px; background-color:black;opacity:0.7" />

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(m => m.TransactionID)</th>
                <th scope="col">@Html.DisplayNameFor(m => m.Sender)</th>
                <th scope="col">@Html.DisplayNameFor(m => m.Receiver)</th>
                <th scope="col">@Html.DisplayNameFor(m => m.TransactionType)</th>
                <th scope="col">@Html.DisplayNameFor(m => m.Amount)</th>
                <th scope="col">@Html.DisplayNameFor(m => m.Date)</th>
                <th scope="col">@Html.DisplayNameFor(m => m.Time)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                //if (item.Sender == (int)ViewData["UserAccount"] || item.Receiver == ViewData["UserAccount"])
                //{
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.TransactionID)</td>
                        <td>@Html.DisplayFor(modelItem => item.Sender)</td>
                        <td>@Html.DisplayFor(modelItem => item.Receiver)</td>
                        <td>@Html.DisplayFor(modelItem => item.TransactionType)</td>
                        <td>@Html.DisplayFor(modelItem => item.Amount)</td>
                        <td>@Html.DisplayFor(modelItem => item.Date)</td>
                        <td>@Html.DisplayFor(modelItem => item.Time)</td>
                    </tr>

                @*}*@
            }
        </tbody>
    </table>
</body>